.addPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.addPost textarea,
.addPost label,
.addPost button,
.cancel-btn {
  font-family: "Montserrat", sans-serif;
}

.addPost h2 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Barlow Condensed", sans-serif;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addPost label {
  font-size: 18px;
  margin-top: 10px;
}

.addPost textarea {
  margin: 8px 0;
  padding: 7px;
  border: 1px solid #332f50;
  border-radius: 3px;
}

.add-title,
.add-body {
  margin-bottom: 10px;
}

.add-title-txt {
  word-wrap: break-word;
  width: 250px;
  max-width: 250px;
  height: 70px;
  max-height: 70px;
}

.add-body-txt {
  width: 250px;
  max-width: 250px;
  height: 380px;
  max-height: 480px;
}

.add-cancel-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-cancel-btns button {
  padding: 6px;
  border: 1px solid #332f50;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  width: 250px;
  max-width: 250px;
  margin-bottom: 10px;
  color: white;
  background-color: #332f50;
}
