.signup-err-msg {
  text-align: center;
  padding: 0 35px;
  color: #332f50;
  font-family: "Montserrat", sans-serif;
}

/* Media queries */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
