.SignupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SignupForm h2 {
  margin: 20px 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form input {
  margin: 8px 0;
  padding: 7px;
  border: 1px solid #332f50;
  border-radius: 3px;
  font-size: 14px;
}

.signup-cancel-btns {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.signup-cancel-btns button {
  padding: 6px;
  border: 1px solid #332f50;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  width: 210px;
  margin-bottom: 10px;
  color: white;
  background-color: #332f50;
}
