.post-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
}

.post-container p,
.title,
.date {
  font-family: "Montserrat", sans-serif;
}

.post-detail-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-size: 20px;
  color: #4d349a;
}

.date {
  font-size: 16px;
  margin-right: 50px;
}

.date-modify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.date-modify {
  height: 25px;
  color: rgb(163, 163, 163);
}

.edit {
  height: 21px;
}

.delete {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.trash {
  height: 20px;
  margin-bottom: 2px;
  padding-left: 5px;
}

.post-body {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  margin-bottom: 100px;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 22px;
  }
  .edit {
    height: 22px;
  }
  .trash {
    height: 21px;
  }
  .date {
    font-size: 17px;
  }

  .post-container p {
    font-size: 17px;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    font-size: 25px;
  }
  .edit {
    height: 22px;
  }
  .trash {
    height: 21px;
  }
  .date {
    font-size: 18px;
  }

  .post-container p {
    font-size: 18px;
  }

  .post-body {
    max-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 25px;
  }
  .edit {
    height: 22px;
  }
  .trash {
    height: 21px;
  }
  .date {
    font-size: 18px;
  }

  .post-container p {
    font-size: 18px;
  }

  .post-body {
    max-width: 800px;
  }
}
