.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #332f50;
}

.postcode h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  padding-right: 15px;
  margin: 10px 0px;
}

.Nav-links {
  font-family: "Montserrat", sans-serif;
}

.Nav-links a {
  font-size: 17px;
}

.NavBar a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.left {
  margin-right: 5px;
}

.right {
  margin-left: 5px;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .NavBar{
    padding-left: 50px;
    padding-right: 50px;
  }

  .postcode h1 {
    font-size: 32px;
  }

  .Nav-links a {
    font-size: 18px;
  }

  .left {
    margin-right: 7px;
  }
  
  .right {
    margin-left: 7px;
  }
}

@media only screen and (min-width: 992px) {
  .NavBar{
    padding-left: 80px;
    padding-right: 80px;
  }

  .postcode h1 {
    font-size: 33px;
  }

  .Nav-links a {
    font-size: 19px;
  }
}

@media only screen and (min-width: 1200px) {

  .NavBar{
    padding-left: 150px;
    padding-right: 150px;
  }

  .postcode h1 {
    font-size: 35px;
  }

  .Nav-links a {
    font-size: 20px;
  }
}
